<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/HEAD.ejs")%>
    <title>Code:Me Profile</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs") %>
    <div class="container">
      <h3><%=locals.user.nickname%>'s Profile</h3>
      <img class="profile__avatar" src="<%=locals.user.avatarURL%>" alt="" />
      <div class="profile__info">
        <div class="innerBox">
          <div class="sec">NICKNAME</div>
          <div class="info"><%=locals.user.nickname%></div>
        </div>
        <div class="innerBox">
          <div class="sec">EMAIL</div>
          <div class="info"><%=locals.user.email%></div>
        </div>
        <div class="innerBox">
          <div class="sec">BIRTHDAY</div>
          <div class="info"><%=locals.user.birth%></div>
        </div>
        <div class="innerBox">
          <div class="sec">GENDER</div>
          <div class="info"><%=locals.user.gender%></div>
        </div>
        <div class="innerBox innerBox-final">
          <div class="sec">PASSWORD</div>
          <div class="info">INVISIBLE</div>
        </div>
      </div>
      <%if(locals.isLoggedIn){%>
      <a href="/user/editProfile">
        <button class="editProfileBtn">EDIT PROFILE</button>
      </a>

      <%}%>
    </div>
  </body>
</html>
